.gearLevel {
  transform: scale(1.5);
  position: absolute;
}
.relicLevelIcon {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
  height: 40px !important;
  width: 40px !important;
}

.relicLevel {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
}
